<%= provide(:title, 'Summoner Stats') %>
<h1>Summoner <%= @name %></h1>
<div style="color: white;">Summoner ID: <%= @masteries[@id.to_s]['summonerId'] %>

</div>
<%= image_tag 'http://ddragon.leagueoflegends.com/cdn/5.12.1/img/profileicon/539.png' %>

<div class="container">
  <h2>Match History</h2>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td><%= image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/#{champ_icon}.png " %> <%= @level %> <%= @name %></td>
      <td> $$$Game mode goes here </td>
      <td>
        <div id="inventory">
          <div>
          <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/1001.png ">
        </div>
      </td>
      <td>  $$$KDA goes here</td>
      <td>
        <div>
            Gold:
        </div>
        <div>
            Minion Kills:
        </div>
      </td>
      <td>
        Game Length:
      </td>
    </tr>
    </tbody>
  </table>
</div>





