= provide(:title, 'Summoner Stats')
%h1 Summoner  #{@user.name}
%div{:style=>"color: white"} Summoner ID: #{@id}

= image_tag 'http://ddragon.leagueoflegends.com/cdn/5.12.1/img/profileicon/539.png'

.container
  %h2 Match History
  %table.border
    %tbody.border
    %tr

      %td.border
        %h3  #{@champ_name}
        = image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/#{@champ_name}.png "
        %h3 Level: #{@game_stats['level']} #{@user.name}

      %td.border #{@game_type}
      %td.border
        .inventory
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item0']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item1']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item2']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item3']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item4']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item5']}.png "
          =image_tag "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/item/#{@game_stats['item6']}.png "
      %td.border #{@game_stats['championsKilled']} / #{@game_stats['numDeaths']} / #{@game_stats['assists']}
      %td.border
        %div Gold: #{@game_stats['goldEarned']}
        %div Minion Kills: #{@game_stats['minionsKilled'].to_i + @game_stats['neutralMinionsKilled'].to_i}
      %td.border
        Game Length: #{@game_stats['timePlayed']}






