%div Summoner ID: #{ @user.id }
%body
  - match_history[:participants].each do |participant|
    %table{:style=>'background-color: white'}
      %tbody
        %tr
          %th
            %td.champion_icon
              %h4 #{get_champion_name(id: participant[:championId])}
              =image_tag champ_icon_url + "#{get_champion_name(id: participant[:championId])}.png", size: '50x50'
              %h6 Level: #{ participant[:stats][:champLevel] }
            %td #{ match_history[:matchType] }
            %td.items
              - player_stats = participant[:stats]
              =image_tag item_img_url + "#{player_stats[:item0]}.png", size: '30x30'
              =image_tag item_img_url + "#{player_stats[:item1]}.png", size: '30x30'
              =image_tag item_img_url + "#{player_stats[:item2]}.png", size: '30x30'
              %br
              =image_tag item_img_url + "#{player_stats[:item3]}.png", size: '30x30'
              =image_tag item_img_url + "#{player_stats[:item4]}.png", size: '30x30'
              =image_tag item_img_url + "#{player_stats[:item5]}.png", size: '30x30'
              =image_tag item_img_url + "#{player_stats[:item6]}.png", size: '30x30'
            %td #{participant[:stats][:kills]} / #{participant[:stats][:deaths]} / #{participant[:stats][:assists] }
            %td
              %div Gold: #{ participant[:stats][:goldEarned] }
              %div Minion Kills: #{ participant[:stats][:minionsKilled] + participant[:stats][:neutralMinionsKilled] }
            %td
              Game Length: #{match_history[:matchDuration]}

