/%div Summoner ID: #{ @user.id }
.panel
  %br
  %div
    %table.center
      %td
        %h3= game_type(match_history[:matchType])
      %td
        %div
          %b Game Length
        %div= time(match_history[:matchDuration])
    %body
      - match_history[:participants].each do |participant|
        - if participant[:teamId] == 100
          %table#team1.team_border.center
            %tbody
              %tr
                %td.champion_icon
                  /%h5 #{get_champion_name(id: participant[:championId])}
                  =image_tag champ_icon_url + "#{get_champion_name(id: participant[:championId])}.png", size: '50x50'
                  /%h6 Level: #{ participant[:stats][:champLevel] }
                %td.items
                  - participant[:stats].select{ |k, _| /^item/ === k }.each do |_, item_id|
                    - if (item_img_url + "#{item_id}.png") == (item_img_url + '0.png')
                      =image_tag 'http://www.probuilds.net/resources/img/items/28/EmptyIcon.png', size: '30x30'
                    - else
                      =image_tag (item_img_url + "#{item_id}.png"), size: '30x30'
                %td
                  %div #{participant[:stats][:kills]} Kills
                  %div #{participant[:stats][:deaths]} Deaths
                  %div #{participant[:stats][:assists]} Assists
                %td
                  %div
                    %h5 Gold: #{ gold(participant[:stats][:goldEarned]) }
                  %div Minion Kills: #{ participant[:stats][:minionsKilled] + participant[:stats][:neutralMinionsKilled] }
                  %br
        - else
          %table#team2.team_border.center
            %tbody
              %tr
                %td.champion_icon
                  /%h5 #{get_champion_name(id: participant[:championId])}
                  =image_tag champ_icon_url + "#{get_champion_name(id: participant[:championId])}.png", size: '50x50'
                /%h6 Level: #{ participant[:stats][:champLevel] }
                %td.items
                  - participant[:stats].select{ |k, _| /^item/ === k }.each do |_, item_id|
                    - if (item_img_url + "#{item_id}.png") == (item_img_url + '0.png')
                      =image_tag 'http://www.probuilds.net/resources/img/items/28/EmptyIcon.png', size: '30x30'
                    - else
                      =image_tag (item_img_url + "#{item_id}.png"), size: '30x30'
                %td
                  %div #{participant[:stats][:kills]} Kills
                  %div #{participant[:stats][:deaths]} Deaths
                  %div #{participant[:stats][:assists]} Assists
                %td
                  %div
                    %h5 Gold: #{ gold(participant[:stats][:goldEarned]) }
                  %div Minion Kills: #{ participant[:stats][:minionsKilled] + participant[:stats][:neutralMinionsKilled] }
                  %br
